* {
    scrollbar-color: #8885;
}

::-webkit-scrollbar {
    position: fixed;
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: #8885;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #8886;
}
